<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<group title="Toggles">
		<field title="OperationMode_Desc">
			<select selected="OperationMode" options="GetOperationModes">
			</select>
		</field>
		<field title="EnableShortcut_Desc">
			<checkbox isChecked="EnableShortcut" />
		</field>
	</group>
</settings>